encoding-music.drdanielrb.com {
    log {
        output stdout
        format json
    }
    encode gzip
    reverse_proxy mcp:8000 {
        transport http {
            keepalive 30s
            keepalive_idle_conns 10
        }
    }
}
